[submodule "firmware"]
	path = firmware
	url = https://github.com/fedepaj/fortunino-firmware.git
[submodule "brain"]
	path = brain
	url = https://github.com/fedepaj/fortunino-brain.git
[submodule "enclosure"]
	path = enclosure
	url = https://github.com/fedepaj/fortunino-enclosure.git
